* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 7vh;
  background-color: black;
}

ul li {
  display: inline-block;
  color: wheat;
  padding: 1vw 14vw;
}

.container {
  height: 92vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.div1 {
  width: 40vw;
  height: 70vh;
  background-color: red;
  border-radius: 7px;
}

.div2 {
  width: 40vw;
  height: 70vh;
  background-color: blue;
  border-radius: 7px;
}
